

html, h1, p, body {
  font-family: 'Courier New', Courier, monospace; 
  color: #333138;
}
h1 {
  font-weight:bold;
  font-size:75px;
}
#guessField {
  background-color:#fffffa;
  color: #000103;
  height: 100px;
  font-size: 200%;
  width:45%;
  float:left;


}

#submit {
  background-color:#39A0ED;
  font-size: 200%;
  width:50%;
  float:right;
  height:100px;
}

body {
  background-color: #fffffa;
  width: 20%; 
	max-width: 800px; 
	min-width: 480px; 
  margin: 0 auto;
  font-size:200%;
} 

.grid-container {
  display:grid;
  grid-column-gap:100px;
}

